---
layout: default
---
<div class="leaf">
  <h1 class="chapter-title sc">{{ page.title | escape }}</h1>
  <p class="post-byline">{{ page.date | date: "%B %-d, %Y" }}</p>

  <div class="prose post-body dropcap-host">
    {{ content }}
  </div>

  <div class="fleuron" aria-hidden="true">
    <svg viewBox="0 0 100 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
      <path d="M50,13 C42,4 24,3 9,12 C22,10.5 36,10.8 50,13 Z"/>
      <path d="M50,13 C58,4 76,3 91,12 C78,10.5 64,10.8 50,13 Z"/>
      <path d="M50,9.4 L53.2,13 L50,16.6 L46.8,13 Z"/>
    </svg>
  </div>
</div>
